body {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    overflow: hidden;
}

.app-container, .container {
    width: 100vw;
    font-size: 0;
}

.card {
    display: inline-block;
    height: 100vh;
    width: 50vw;
    line-height: 1;
}

.card-rel {
    position: relative;
}

.card-abs {
    position: absolute;
}

.card-content {
    text-align: center;
    padding-top: 10vh;
    text-transform: uppercase;
    color: white;
    height: 80vh;
}

.city-name {
    font-weight: 900;
    font-size: calc(12px + 2vw);
    max-width: 25vw;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 4vw;
    background-color: #3C153B;
}

.temp-display-wrapper {
    display: block;
    padding: 0;
    margin: 0;
    padding-top: calc(12px + 1vh);
    padding-bottom: calc(12px + 1vh);
}

.temp-display {
    display: inline-block;
    padding: 2vh 5vw 2vh 5vw;
    width: 25vw;
    max-width: 25vw;
    font-size: 8vw;
    border-radius: 4vw;
    background-color: #89BD9E;
    color: #2C4E3A;
    border-style: solid;
    border-color: #2C4E3A;
    border-width: 5px;
}

.answer-button-wrapper {
    display: block;
    margin: 5vh;
    margin-top: 4vw;
    line-height: 10vh;
}

.answer-button {
    font-size: calc(12px + 8vh);
    padding: 2vh 2vh 2vh 2vh;
    border-radius: 4vw;
    cursor: pointer;
}

.answer-hot {
    background-color: #EF233C;
}

.answer-cold {
    background-color: #00A6ED;
}

.next-round-button {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    background-color: #14FFF7;
    color: #2C4E3A;
    font-family: 'Roboto', sans-serif;
    font-size: calc(12px + 8vh);
    padding: 2vh 2vh 2vh 2vh;
    border-radius: 4vw;
    cursor: pointer;
    line-height: 10vw;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width: 100vw;
    background-color: #EF233C;
    opacity: 0.8
}

.overlay-text {
    position:absolute;
    top:10vh;
    left:0;
    height: 90vh;
    width: 100vw;
    text-align:center;
    font-size:4vw;
}

.end-game-button {
    font-size: calc(12px + 8vh);
    padding: 2vh 2vh 2vh 2vh;
    border-radius: 4vw;
    background-color: #14FFF7;
    color: #2C4E3A;
    margin-left: 1vw;
    margin-right: 1vw;
    cursor: pointer;
}


@media screen and (max-width: 900px) {

    .card {
        height: 50vh;
        width: 100vw;
    }

    .city-name {
        font-size: calc(12px + 2vh);
        max-width: 80vw;
    }

    .answer-buttons-wrapper {
        display: block;
        direction: rtl;
    }

    .answer-button-wrapper {
        display: inline-block;
        margin-top: calc(12px)!important;
        margin-bottom: calc(12px)!important;
        line-height: unset;
    }

    .answer-button {
        display:block;
        font-size: calc(12px + 2vh);
    }

    .card-content {
        text-align: center;
        padding-top: 10vh;
        text-transform: uppercase;
        color: white;
        height: 80vh;
    }
    
    .next-round-button {
        margin-top: 50px;
        padding: 0;
        margin: 0;
        background-color: #14FFF7;
        color: #2C4E3A;
        font-family: 'Roboto', sans-serif;
        font-size: calc(12px + 2vh);
        padding: 2vh 2vh 2vh 2vh;
        border-radius: 4vw;
        cursor: pointer;
    }

    .app-span {
        line-height: 0;
        display: block;
    }
    
    .end-game-button {
        font-size: calc(12px + 4vw);
        padding: 2vh 2vh 2vh 2vh;
        border-radius: 4vw;
        background-color: #00A6ED;
        margin-left: 1vw;
        margin-right: 1vw;
        cursor: pointer;
        display: inline-block;
    }

    .overlay-text {
        margin-top: 15vh;
        line-height: 1.5;
        font-size: 4vh;
    }

    .end-game-button{
        margin-top: 10px;
    }

    .end-game-buttons-wrapper {
        margin-top: 5px;
    }

}


    .card-content .city-name {
        display: inline-block;
    }
